@import "register&login.css";

body {
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background: url("/Images/choir_register.jpg") no-repeat;
}

.register_login{
    width: 150px;
    min-width: 100px;
    max-width: 200px;
}

.glyphicon-remove {
    color: red;
}

.glyphicon-ok {
    color: green;
}

#info {
    color: red;
}

.reCaptchaDiv {
    text-align: center;
    display: inline-block;
}

.g-recaptcha {
    display: inline-block;
}

.success{
    color: green;
}

.problem{
    color: red;
}