

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: white;
    font-size: 20;
    font-family: 'Montserrat', sans-serif;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active .nav-link {
    color: white;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    text-decoration: none;
}




