

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: white;
    font-size: 20;
    font-family: 'Montserrat', sans-serif;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #323c4b;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: white;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}



/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

.text-small {
    font-size: 0.9rem !important;
}

.span{
    transition: all 0.4s;
}

.bg-image {
    min-height: 100vh;
  font-size:40px;
  text-align:center;
  position: relative;
  transition: all 0.4s;
}

.bg-image::before {
        transition: all 0.4s;

  content:"";
  background: url("/Images/background_home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  min-height:100vh;
  position: absolute;
  left:0;
  top:0;
  z-index:-1;
  filter: brightness(0.5);

}

.bg-image.scrolled {
    min-height: 70vh;
}

.bg-image.scrolled::before{
    transition: all 0.4s;
    content:"";
  background: url("/Images/background_home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  min-height:70vh;
  position: absolute;
  left:0;
  top:0;
  z-index:-1;
  filter: brightness(0.4);
}


.announcements {
   min-height: 100vh;
  font-size:40px;
  text-align:center;
  position: relative;
  transition: all 0.4s;
}

.announcements::before{
    transition: all 0.4s;

  content:"";
  background: url("/Images/pulpit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  min-height:100vh;
  position: absolute;
  left:0;
  top:0;
  z-index:-1;
  filter: brightness(0.5);
}

.announcements.scrolled {
    min-height: 70vh;
}

.announcements.scrolled::before{
    transition: all 0.4s;
    content:"";
  background: url("/Images/pulpit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  min-height:70vh;
  position: absolute;
  left:0;
  top:0;
  z-index:-1;
  filter: brightness(0.4);
}


.main-text {
    text-align: center;
    padding-top: 20%;
    filter:  brightness(1.0);
}


.h2 {
    color: whitesmoke !important;
    font-size: 90px;
}

ul li a{
    transition: all ease 0.5s;
}

.jumbotron {
    background-color: #323c4b;
    border-radius: 0px;
}

.article{
    color: white !important;
}

*:focus {
    outline: 0 !important;
}