RewriteEngine On
RewriteRule ^([a-zA-Z0-9-_]+)$ index.php?page=$1 [NC,L,QSA]
RewriteRule ^([a-zA-Z0-9-_]+)\/id\/([0-9]+)$ index.php?page=$1&id=$2 [NC,L,QSA]
RewriteRule ^([a-zA-Z0-9-_]+)\/delete\/([0-9]+)$ index.php?page=$1&delete=$2 [NC,L,QSA]
RewriteRule ^([a-zA-Z0-9-_]+)\/new$ index.php?page=$1&new=true [NC,L,QSA]
RewriteRule ^([a-zA-Z0-9-_]+)\/show\/([0-9]+)$ index.php?page=$1&show=$2 [NC,L,QSA]
RewriteRule ^([a-zA-Z0-9-_]+)/id/([0-9]+)$ index.php?page=$1&id=$2#places [NC,L,QSA]