{% extends "admin.html" %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="/css/admin_announcements.css">
{% endblock %}

{% block content %}
	<div class="card mb-3" id="announcemets_list">
		<div class="fluid">
		</div>
		 <div class="card-header">
        	Ogłoszenia
    	</div>
    	<a href="/edit_article/new">
	        <button class="add_new btn btn-light">Add new announcement</button>
	    </a>
    	<div class="card-body">
    		<table class="table table-striped mt-3">
          		<thead>
            		<tr id="wiersz-naglowka">
              			<th scope="col">Title</th>
              			<th scope="col">Added date</th>
              			<th scope="col">Edited date</th>
              			<th scope="col"></th>
              			<th scope="col"></th>
            		</tr>
          		</thead>
          	<tbody>
          		{% if selectStatus %}
	          		{% for row in rows %}
	          			<tr>
	                  		<td><a href="/announcement/show/{{ row.announcement_id }}">{{ row.title }}</td>
	                  		<td>
	                  			<p> {{ row.created }} </p>
	                  		</td>
	                  		<td>
	                  			<p> {{ row.updated }} </p>
	                  		</td>
	                  		<td>
	                  			<a href="/edit_article/id/{{ row.announcement_id }}">
	                  				<button class="btn btn-light">Edit</button>
	                  			</a>
	                  		</td>
	                  		<td>
	                  			<a href="/admin_announcements/delete/{{ row.announcement_id }}">
	                  				<button class="btn btn-light">Delete</button>
	                  			</a>
	                  		</td>
	                  	</tr>
	          		{% endfor %}
	          	{% else %}
		          	<div class="alert alert-danger" role="alert">
					  Failed to download data from the database.
					</div>
	          	{% endif %}
          	</tbody>
          	</table>
    	</div>
	</div>
	{% if isDelete and deleted %}
		<div class="alert alert-success" role="alert">
			Announcement was deleted successfully.
		</div>
	{% elseif isDelete and not deleted %}
		<div class="alert alert-danger" role="alert">
			An error occurred while trying to delete the announcement.
		</div>
	{% endif %}
{% endblock %}