{% extends "index.html.twig" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/css/announcements.css">
{% endblock %}


{% block content %}

<div class="container-fluid p-0">
    <div class="row-fluid">
        <div class="span" id="background_span">
            <div class="announcements main-text" style="background: url('/Images/pulpit.jpg');">
                <h1 class="mb-3 h2">Ogłoszenia Parafialne</h1>
                <p style="color: white">Tutaj znajdują się aktualne oraz archiwalne ogłoszenia parafialne.</p>
            </div>
        </div>
    </div>
</div>
<div class="container py-5">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <ul class="list-group shadow">
                <a href="#">
                    <li class="list-group-item">
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">Tytuł 1</h5>
                                <p class="font-italic text-muted mb-0 small">Podtytuł 1</p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">Autor 1</h6>
                                    <h6 class="font-weight- my-2">Data 1</h6>
                                    <ul class="list-inline small">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> 5
                                        <i class="fa fa-comment" aria-hidden="true"></i> 10
                                    </ul>
                                </div>
                            </div>
                            <img src="/Images/JanPawel.jpg" alt="Papierz" width="160" height="90" class="ml-lg-5 order-1 order-lg-2">
                        </div>
                    </li>
                </a>

                <a href="#">
                    <li class="list-group-item">
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">Tytuł 2</h5>
                                <p class="font-italic text-muted mb-0 small">Podtytuł 2</p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">Autor 2</h6>
                                    <h6 class="font-weight- my-2">Data 2</h6>
                                    <ul class="list-inline small">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> 5
                                        <i class="fa fa-comment" aria-hidden="true"></i> 10
                                    </ul>
                                </div>
                            </div>
                            <img src="/Images/JanPawel.jpg" alt="Papierz" width="160" height="90" class="ml-lg-5 order-1 order-lg-2">
                        </div>
                    </li>
                </a>

                <a href="#">
                    <li class="list-group-item">
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">Tytuł 3</h5>
                                <p class="font-italic text-muted mb-0 small">Podtytuł 3</p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">Autor 3</h6>
                                    <h6 class="font-weight- my-2">Data 3</h6>
                                    <ul class="list-inline small">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> 5
                                        <i class="fa fa-comment" aria-hidden="true"></i> 10
                                    </ul>
                                </div>
                            </div>
                            <img src="/Images/JanPawel.jpg" alt="Papierz" width="160" height="90" class="ml-lg-5 order-1 order-lg-2">
                        </div>
                    </li>
                </a>

                <a href="#">
                    <li class="list-group-item">
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">Tytuł 4</h5>
                                <p class="font-italic text-muted mb-0 small">Podtytuł 4</p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">Autor 4</h6>
                                    <h6 class="font-weight- my-2">Data 4</h6>
                                    <ul class="list-inline small">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i> 5
                                        <i class="fa fa-comment" aria-hidden="true"></i> 10
                                    </ul>
                                </div>
                            </div>
                            <img src="/Images/JanPawel.jpg" alt="Papierz" width="160" height="90" class="ml-lg-5 order-1 order-lg-2">
                        </div>
                    </li>
                </a>
            </ul>
        </div>
    </div>
</div>

{% endblock %}