{% extends "index.html.twig" %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="/css/announcement_show.css">
{% endblock %}

{% block content %}
	{% if selectStatus %}
		<div class="container-fluid p-0">
	    <div class="card text-white">
			<img class="card-img" src="/{{row.pathToImg}}" alt="Card image">
			<div class="card-img-overlay">
		    <h5 class="card-title text-center" id="title">{{row.title}}</h5>
		    <p class="card-subtitle text-center">{{row.subtitle}}</p>
		    <p class="card-text text-center">updated : {{row.updated}}</p>
		    <div class="gradient-overlay">
	    	</div>
		  </div>
		</div>
		<div class="content">
			{{ row.content | raw }}
		  </div>
		</div>
	{% else %}
		<div class="alert alert-danger" role="alert">
			Failed to download data from the database.
		</div>
    {% endif %}
{% endblock %}