{% extends "index.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="/css/main.css" type="text/css">
{% endblock %}

{% block content %}
<div class="container-fluid p-0">

    <div class="row-fluid">
        <div class="span" id="background_span">
            <div class="bg-image main-text">
                <h1 class="mb-3 h2">Parafia Miłosierdzia Bożego w Borkach</h1>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="jumbotron text-center" style="background-color: #2a333f">
            <h1 class="mb-3 h2 article "> Historia naszej parafii </h1>
            <p class="article">Życie religijne miejscowości organizowane było w małej kapliczce.
                Budowę nowego kościoła rozpoczęto w 1981 r. wg projektu Zbigniewa Zjawina.
                Poświęcenia i wmurowania kamienia węgielnego dokonał 18 X 1981 r. bp Jerzy Ablewicz.
                Kościół był budowany jako wotum za ocalenie życia Ojca św. Jana Pawła II, dlatego Ojciec św. w 1982 r.
                ofiarował poświęconą przez siebie figurę Matki Bożej Fatimskiej. Konsekracja kościoła odbyła się 13 X 2006 r.
                pod przewodnictwem bpa Wiktora Skworca. 13 V 1992 r. kościół został podniesiony do rangi sanktuarium na mocy
                dekretu bpa Józefa Życińskiego. Wnętrze zaprojektował i wykonał Józef Furdyna.</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="jumbotron text-center" style="background-color: #2a333f">
            <h1 class="mb-3 h2 article"> Terminy nabożeństw </h1>
            <p class="article">W naszym kościele nie ma z góry zdefiniowanych terminów nabożeństw. Ksiądz może sam
            dodać termin mszy. Aby sprawdzić terminy mszy, w których możesz wziąć udział, wejdź <a href="/reservations">tutaj.</a>
            Dodatkowo możesz zarezerwować miejsce w kościele na dane nabożeństwo.</p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="jumbotron text-center" style="background-color: #2a333f">
            <h1 class="mb-3 h2 article"> Znajdź nas! </h1>
            <p class="article">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2547.61241439256!2d21.140007515497597!3d50.317824704793765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473d643ba43b9c01%3A0x1bd787f85ee742ee!2sSanktuarium%20Matki%20Bo%C5%BCej%20Fatimskiej%20-%20R%C3%B3%C5%BCa%C5%84cowej%20w%20Borkach!5e0!3m2!1sen!2spl!4v1625420980366!5m2!1sen!2spl"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </p>
        </div>
    </div>

</div>

{% endblock %}