{% extends "index.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="/css/main.css" type="text/css">
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row-fluid">
        <div class="span" id="background_span">
            <div class="bg-image main-text">
                <h1 class="mb-3 h2">Parafia pod wezwaniem Bitcoina</h1>
            </div>
        </div>
    </div>
    <div class="row-fluid" id="about">
        <div class="jumbotron text-center">
            <h1 class="mb-3 h2 article"> Historia naszej parafii </h1>
            <p class="article">Życie religijne miejscowości organizowane było w małej kapliczce. Budowę nowego kościoła rozpoczęto w 1981 r. wg projektu Zbigniewa Zjawina. Poświęcenia i wmurowania kamienia węgielnego dokonał 18 X 1981 r. bp Jerzy Ablewicz. Kościół był budowany jako wotum za ocalenie życia Ojca św. Jana Pawła II, dlatego Ojciec św. w 1982 r. ofiarował poświęconą przez siebie figurę Matki Bożej Fatimskiej. Konsekracja kościoła odbyła się 13 X 2006 r. pod przewodnictwem bpa Wiktora Skworca. 13 V 1992 r. kościół został podniesiony do rangi sanktuarium na mocy dekretu bpa Józefa Życińskiego. Wnętrze zaprojektował i wykonał Józef Furdyna.</p>
        </div>
    </div>  
</div>

{% endblock %}