{% extends "admin.html" %}

{% block style %}
    <link rel="stylesheet" href="/css/main_admin.css" type="text/css">
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row-fluid">
        <div class="span" id="background_span">
            <div class="bg-image main-text">
                <h1 class="mb-3 h2">Admin Panel</h1>
            </div>
        </div>
    </div>
    <div class="row-fluid" id="about">
        <div class="jumbotron text-center">
            <h1 class="mb-3 h2 article"> Admin Panel </h1>
            <p class="article">Tutaj możesz zarządzać swoją stroną parafialną. Użyj menu na górze strony, aby wybrać element do przeglądu i edycji. W razie pytań zapraszamy do kontaktu z naszym supportem.</p>
        </div>
    </div>  
</div>

{% endblock %}