{% extends "index.html.twig" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/css/reservations.css">

{% endblock %}

{% block head %}
    <script type="text/javascript" src="/js/seatsReservation.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- or directly from unpkg -->
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="row-fluid">
            <div class="span" id="background_span">
                <div class="bg-image main-text">
                    <h1 class="mb-3 h2">Seats reservations</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="info" style="height: 50px; opacity: 100%">
    </div>
    {% if(session.id is not defined and session.email is not defined) %}
        <div class="container-lg" style="height: 300px;">
            <div class="didntLogin" style="height: 350px; font-size: 36px;">
        <div class="container-lg" style="height: 215px;">
            <div class="didntLogin" style="height: 200px; font-size: 30px;">
                <a href="/login">Log in </a> to reserve the seats.
            </div>
        </div>
    {% else %}
        <body class="mainContainer">
        <form method="POST" action={{ link }}>
            <div class="container mainInput">
                <a name="places">
                    <div class="info">
                        Select the seat(s) you want to reserve.
                    </div>
                    <div id="correctReservationInfo"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <table class="column mikroColumn" id="columnx"></table>
                            </div>
                            <div class="col-sm-8 border border">
                                <input type="checkbox" id="enable" name="enable" value="enable">
                                <label for="enable">Unlock inaccessible place</label>
                                <br> Check if the person for whom you are choosing the place has been vaccined twice.
                                Thanks to this, you will be able to select inaccessible places.
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <a>Date: {{ date }}</a>
                            </div>
                            <div class="col-sm-4">
                                <a>Hour: {{ hour }}</a>
                            </div>
                            <div class="col-sm-4">
                                <a>{{ author }}</a>
                            </div>
                        </div>
                    </div>
                    <div id="places" class="container py-5 border border-secondary" style="height: 415px;">
                        <div class="row" id="tblMain">
                            <div class="col-sm-2">
                                <div class="col-sm-12">
                                    <table class="columnMain longColumn " id="column1"></table>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="col-sm-12 altar">Altar</div>
                            </div>
                            <div class="col-sm-2">
                                <div class="col-sm-12">
                                    <table class="columnMain longColumn" id="column2"></table>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="col-sm-12">
                                    <table class="columnMain shortColumn" id="column3"></table>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="col-sm-12">
                                    <table class="columnMain shortColumn" id="column4"></table>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="col-sm-12">
                                    <table class="columnMain shortColumn" id="column5"></table>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="col-sm-12">
                                    <table class="columnMain shortColumn" id="column6"></table>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="col-sm-12">
                                    <table class="columnMain shortColumn" id="column7"></table>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="col-sm-12">
                                    <table class="columnMain shortColumn" id="column8"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="submitButton" type="submit">
                        Book! <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                    <div style="height: 10px;"></div>
                </a>
            </div>
        </form>
        </body>
    {% endif %}
{% endblock %}